<article class="auth">
  <tui-island class="auth_content">
    <h3 class="tui-island__title tui">
      Авторизация
    </h3>
    <form [formGroup]="loginForm">
      <tui-input class="b-form" formControlName="username">
        Введите логин
      </tui-input>
      <tui-input-password formControlName="password" tuiTextfieldSize="s">
        Введите пароль
      </tui-input-password>
      <button
        tuiButton
        type="button"
        appearance="primary"
        (click)="login()">
        Войти
      </button>
    </form>
  </tui-island>
</article>
